form {
    margin-top: 200px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    background-color: #D4D4D4;
    width: 400px;
    font-size: 24px;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #D4D4D4 inset !important;
}

a {
    margin-top: 200px;
}