{% extends "index.html" %}

{% load static %}
{% block all %}

    <script >
        var arr ='{{ data | safe }}'
    </script>

        <div class="map_position">
            <div id="map"></div>
        </div>
    <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
      <div class="form_content">
          <h2>Добавить свою достопримечательность</h2>
          <form action="#" method="post" class="_form">
                {% csrf_token %}
              <input type="text" placeholder="Название" class="form_text">
              <textarea placeholder="Описание"></textarea>
              <input type="url" placeholder="Wiki" class="form_text">
              <input type="number" placeholder="Долгота" class="form_text dolgota" >
              <input type="number" placeholder="Широта" class="form_text shirota" >

              <div class="upload_box">

                  <div class="upload_file" style="margin-right: 60px;">
                    <label class="label">
                      <i class="material-icons">attach_file</i>
                      <span class="title">Добавить изображение</span>
                      <input type="file">
                    </label>
                  </div>

                  <p> <label >Выберите категорию:</label>
                      <select name="Category" id="category" style="margin-right: 60px;" size="1">
                     <option value="Museum">Музей</option>
                     <option value="University">Университет</option>
                     <option value="Monument">Монумент</option>
                     <option value="Library">Библиотека</option>
                  </select></p>

                  <div class="upload_file">
                    <label class="label">
                      <i class="material-icons">attach_file</i>
                      <span class="title">Добавить иконку</span>
                      <input type="file">
                    </label>
                  </div>
              </div>
              <input type="submit" value="Добавить" class="submit">

          </form>
      </div>
  </div>
    </div>>


    <script src="{% static "js/map.js" %}"></script>

{% endblock all %}