{#{% extends "body.html" %}#}
{#{% load static  %}#}
{#{% block all  %}#}
{##}
{##}
{#  <h2>My Map</h2>#}
{#  <div id="map" class="map" style="height: 2000px;"></div>#}
{##}
{#  <div id="popup" class="ol-popup">#}
{#    <a href="#" id="popup-closer" class="ol-popup-closer"></a>#}
{#    <div id="popup-content"></div>#}
{#</div>#}
{#  <script src="{% static 'js/map.js' %}"></script>#}
{##}
{##}
{#{% endblock all %}#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="https://openlayers.org/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Using OpenLayers with Vite</title>
  </head>
  <body>
    <div id="map"></div>
    <script type="module" src="/static/js/map.js"></script>
  </body>
</html>
