<footer>
    <div class="footer_content">
        <div class="description"><span>Project by: Kalaida Taras, Andry Kocherga and Liniychuk Danylo</span></div>

        <div class="footer_list">
            <div>
                <a href="https://github.com/Inspiration679/MapVersion1"><img src="/static/images/footer_icons/git.png" class="git" alt="git"></a>
                <div class="text_style">GitHub</div>
            </div>
            <h1 class="logo_a" style="padding:0;">MapHELP!</h1>
            <div>
                <a href="https://t.me/KPIslave"><img src="/static/images/footer_icons/telegram.png" class="telegram"></a>
                <div class="text_style">Telegram</div>
            </div>
        </div>
    </div>
</footer>