{% load static %}
<header>
    <div class="_container">
        <div class="header_content">
            <logo>
                <h1 class="logo_h1">
                    <a href="{% url "show_map" %}" class="logo_a">MapHELP!</a>
                </h1>
            </logo>
            <nav>
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="{% url "show_map" %}" class="nav_a">
                            <p class="nav_p">Map</p>
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="{% url "show_about" %}" class="nav_a">
                            <p class="nav_p">About</p>
                        </a>
                    </li>
                </ul>
            </nav>
            <categories>
                {% for i in categories %}
                    <div class="categories_div">
                        <a href="{{  i.get_url }}">
                            <img class="categories_img" src="{{ i.icon.url }}"
                                 alt="">
                            <p class="categories_p">{{ i.name }}</p>
                        </a>
                    </div>
                {% endfor %}
            </categories>

            <logo style="margin-left: 4%;">
                <h1 class="logo_h1">
                    <a href="{% url "show_map" %}" class="logo_a">MapHELP!</a>
                </h1>
            </logo>

        </div>
    </div>
</header>